<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">TEAM SJ</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li><a href="/result_get">Result</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://github.com/KW-SJ" class="github" target="_blank"><i class="bi bi-github"></i></a>
      </div>

    </div>
</header>
<!-- End Header -->
