<!DOCTYPE html>
<html lang="ko">

<head>
  {% include 'template_head.html' %}
</head>
  
<body>

  <!-- ======= Header ======= -->
  <header>{% include 'header.html' %}</header>
  <!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Camera-based<br><span>Biometric Signal</span><br>Prediction</h2>
          <div>
            <a href="/about" class="btn-get-started scrollto">About us!</a>
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/assets/img/intro-img.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Team SJ</h3>
        <p>산소포화도(SpO2), 혈압(BP)과 같은 생체정보를 예측하는 팀이기 때문에 생체의 S 정보의 J를 따서 팀명을 SJ로 하였습니다.</p>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>강수아</h4>
                <span>SpO2, Web</span>
                <span>tnals3414@gmail.com</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/assets/img/team-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>기나연</h4>
                <span>SpO2, Web</span>
                <span>ny08281@gmail.com</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/assets/img/team-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>김지민</h4>
                <span>SpO2</span>
                <span>mnvyiions@gmail.com</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="/static/assets/img/team-4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>김태우</h4>
                <span>BP</span>
                <span>xodn4363@gmail.com</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="member">
            <img src="/static/assets/img/team-5.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>정규현</h4>
                <span>BP, Web</span>
                <span>seoulmun3115@gmail.com</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Team Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">

  </footer><!-- End  Footer -->

  {% include 'template_body.html' %}

</body>

</html>